<div class="wrapper">
  <div class="block block1">
    <img [src]="hotelsObject.roomImage" [width]="'115'" [height]="'140'">
  </div>
  <div class="block2">

    <span><strong>{{hotelsObject.city}}</strong></span><br />
    <span><strong>{{hotelsObject.street}}</strong></span><br>

    {{hotelsObject.distanceToCenter}}<br><br>

    <span><strong>{{hotelsObject.price}}</strong></span><br>
    <span>{{hotelsObject.designDesc}}</span>
  </div>
  <div class="block block3">

    <button type="button" class="button-orange">Book</button>

  </div>
</div>
